@using DuploParser.Models
@model List<Filter>

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Filters - Duplo Parser</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/filters.css"/>
</head>
<body>
    <header>
        @await Html.PartialAsync("_Sidebar")
    </header>
    <div class="container-fluid p-5">
        <div id="responsive-table">
            <table class="table table-dark table-striped ">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Сезон</th>
                        <th scope="col">Шипы</th>
                        <th scope="col">Ширина</th>
                        <th scope="col">Профиль</th>
                        <th scope="col">Радиус</th>
                        <th scope="col">RunFlat</th>
                        <th scope="col">Код</th>
                        <th scope="col">Действие</th>
                    </tr>
                </thead>
                <tbody>
                        @foreach (var filter in Model)
                        {
                            var season = filter.Season ?? "Не важно";
                            var pins = filter.Pins.HasValue ? filter.Pins.ToString() : "Не важно";
                            var width = filter.Width.HasValue ? filter.Width.ToString() : "Не важно";
                            var profile = filter.Profile.HasValue ? filter.Profile.ToString() : "Не важно";
                            var radius = filter.Radius.HasValue ? filter.Radius.ToString() : "Не важно";
                            var runFlat = filter.RunFlat.HasValue ? filter.RunFlat.ToString() : "Не важно";
                            var code = filter.Code ?? "Не важно";
                        <tr>
                            <td data-title="Id">@filter.Id</td>
                                <td data-title="Сезон">@season</td>
                                <td data-title="Шипы">@pins</td>
                                <td data-title="Ширина">@width</td>
                                <td data-title="Профиль">@profile</td>
                                <td data-title="Радиус">@radius</td>
                                <td data-title="RunFlat">@runFlat</td>
                                <td data-title="Код">@code</td>
                                <td data-title="Действие"><a href="../delete/@filter.Id?code=d1plomat">Delete</a></td>
                            </tr>
                        }
                </tbody>
            </table>
        </div>
        <button type="button" class="btn btn-dark mt-3" data-bs-toggle="modal" data-bs-target="#addModal">
            Добавить фильтр
        </button>
    </div>
    <!-- Модальное окно -->
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавление фильтра</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="../add?code=d1plomat">
                        <div class="mb-3">
                            <label for="Season" class="form-label">Сезон</label>
                            <select name="Season" id="Season" class="form-select">
                                <option value="">Не важно</option>
                                <option value="Лето">Лето</option>
                                <option value="Зима">Зима</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="Width" class="form-label">Ширина</label>
                            <select name="Width" id="Width" class="form-select">
                                <option value="">Не важно</option>
                                <option value="7">7</option>
                                <option value="7.5">7.5</option>
                                <option value="27">27</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                                <option value="33">33</option>
                                <option value="35">35</option>
                                <option value="135">135</option>
                                <option value="145">145</option>
                                <option value="155">155</option>
                                <option value="165">165</option>
                                <option value="175">175</option>
                                <option value="185">185</option>
                                <option value="195">195</option>
                                <option value="205">205</option>
                                <option value="215">215</option>
                                <option value="225">225</option>
                                <option value="235">235</option>
                                <option value="245">245</option>
                                <option value="255">255</option>
                                <option value="265">265</option>
                                <option value="275">275</option>
                                <option value="285">285</option>
                                <option value="295">295</option>
                                <option value="305">305</option>
                                <option value="315">315</option>
                                <option value="325">325</option>
                                <option value="335">335</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="Profile" class="form-label">Профиль</label>
                            <select name="Profile" id="Profile" class="form-select">
                                <option value="">Не важно</option>
                                <option value="8,5">8.5</option>
                                <option value="9,5">9.5</option>
                                <option value="10.5">10.5</option>
                                <option value="11.5">11.5</option>
                                <option value="12.5">12.5</option>
                                <option value="13.5">13.5</option>
                                <option value="25">25</option>
                                <option value="30">30</option>
                                <option value="35">35</option>
                                <option value="40">40</option>
                                <option value="45">45</option>
                                <option value="50">50</option>
                                <option value="55">55</option>
                                <option value="60">60</option>
                                <option value="65">65</option>
                                <option value="70">70</option>
                                <option value="75">75</option>
                                <option value="80">85</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="Radius" class="form-label">Диаметр</label>
                            <select name="Radius" id="Radius" class="form-select">
                                <option value="">Не важно</option>
                                <option value="12">R12</option>
                                <option value="13">R13</option>
                                <option value="14">R14</option>
                                <option value="15">R15</option>
                                <option value="16">R16</option>
                                <option value="17">R17</option>
                                <option value="17.5">R17.5</option>
                                <option value="18">R18</option>
                                <option value="19">R19</option>
                                <option value="20">R20</option>
                                <option value="21">R21</option>
                                <option value="22">R22</option>
                                <option value="22.5">R22.5</option>
                                <option value="23">R23</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="Pins" class="form-label">Шипы</label>
                            <select name="Pins" id="Pins" class="form-select">
                                <option value="">Не важно</option>
                                <option value="true">Да</option>
                                <option value="false">Нет</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="RunFlat" class="form-label">RunFlat</label>
                            <select name="RunFlat" id="RunFlat" class="form-select">
                                <option value="">Не важно</option>
                                <option value="true">Да</option>
                                <option value="false">Нет</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="Code" class="form-label">Код</label>
                            <input name="Code" type="text" class="form-control" id="Code">
                        </div>
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
